@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .input-box {
    width: 100%;
  }
  .input-box label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
  }
  .input-box input,
  .input-box textarea {
    width: 100%;
    margin: 0.5rem 0;
    border: 1px solid #240370;

    outline: none;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.1rem;
  }
  .input-box input:focus,
  .input-box textarea:focus {
    outline: none;
    background-color: #e9c9c7;
    border: none;
    border: 1px solid #8b0900;
    outline: none;
    border-color: #240370;
    background-color: #e0d4fd;
  }
  .invalid label {
    color: red;
  }
  .invalid input,
  .invalid textarea {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
  }
  .invalid input:focus,
  .invalid textarea:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
  }
  .invalid p {
    margin-bottom: 00.5rem;
    color: rgb(187, 19, 7);
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
